@{ ViewData["Title"] = "Soporte"; }

<link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">

    <br><br>
    <div class="justify-content-md-center">
        <div class="row">
            <div class="blue-div" style="height:600px; top:150px;">
                <div class="white-div" style="height:570px; top:200px;">
                    <br><br><br><br>
                    <h4 style=" text-decoration: underline; ">SOPORTE</h4><br><br><br>
                    <h5>En caso de requerir ayuda puede contacar los siguientes número telefónicos o bien enviar un correo a la dirección de email.</h5>
                    <br><br>
                    <h5>26004094</h5>
                    <h5>26004052</h5>
                    <h5>26004125</h5>
                    <h5>26004122</h5><br><br>
                    <h5>salud.ocupacional@msp.go.cr</h5>
                </div>
            </div>
        </div>
    </div>
</div>
