<link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">

    <br><br>
    <div class="justify-content-md-center">
        <div class="row">
            <div class="blue-div-soporte">
                <div class="white-div-soporte">
                    <br><br><br><br>
                    <h4 style=" text-decoration: underline; ">Departamento de Salud Ocupacional</h4><br><br><br>
                    <h5>Yourks</h5>
                    <h5>Arrollo</h5>
                    <h5>Guzmán</h5>
                    <h5>yarroyo@msp.go.cr</h5>
                    <h5>2586-4052</h5><br><br>
                    <h5>Mónica</h5>
                    <h5>Quesada</h5>
                    <h5>Bermudez</h5>
                    <h5>mquesada@msp.go.cr</h5>
                    <h5>2586-4122</h5><br><br>
                </div>
            </div>
            <div class="blue-div-soporte">
                <div class="white-div-soporte">
                    <br><br><br><br>
                    <h4 style=" text-decoration: underline; ">Departamento de TI</h4><br><br><br>
                    <h5>Nelson</h5>
                    <h5>Alvarado</h5>
                    <h5>Madrigal</h5>
                    <h5>nalvarado@msp.go.cr</h5>
                    <h5>2600-4010</h5><br><br>
                    <h5>Joauín Fernando</h5>
                    <h5>Soto</h5>
                    <h5>Rojas</h5>
                    <h5>jsotor@msp.go.cr</h5>
                    <h5>2586-4369</h5>
                </div>
            </div>
        </div>
    </div>
</div>
