@{ ViewData["Title"] = "Olvidar Contraseña"; }

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1 style="text-align: center" ;>@ViewData["Title"]</h1>

@model Registro_y_control_de_extintores.Controllers.Inicio_de_sesionController
<br>

<div class="row" align="center">
    <div class="col-md-12">
        <div class="row">
            <div class="col">
                <h5 style="font-weight:normal;">Cédula o correo: </h5>
            </div>
            <div class="col">
                <input id="uname" name="uname" class="form-control" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h5 style="font-weight:normal;">Nueva contraseña: </h5>
            </div>
            <div class="col">
                <input type="password" id="psw" name="psw" class="form-control" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h5 style="font-weight:normal;">Reingrese la contraseña: </h5>
            </div>
            <div class="col">
                <input type="password" id="psw2" name="psw2" class="form-control" />
                <br>
                <input id="btnModal" style="max-width:30%;" type="submit" value="Cambiar" class="btn btn-primary btn-lg btn-block" />
            </div>
        </div>
        <br>
    </div>
</div>

@*Modal Dialog Container*@

<div id="modal-container" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:500px !important; margin: 10px auto !important; height:300px !important;">
            <div class="modal-header">
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
            </div>
            <div class="modal-body">

                <h5 align="center" id="txt" style="font-weight:normal"> aaa</h5>
                <br />
                <div class="row" align="center">
                    <div class="col">
                        <form id="olvidarContrasena" style="visibility:hidden" asp-action="OlvidarContrasena" method="get">
                            <div class="text-danger"></div>
                            <input style="max-width:30%;" type="submit" value="OK" class="btn btn-primary btn-lg btn-block" />
                        </form>
                        <br>
                        <form id="cambiarContrasena" style="visibility:hidden" asp-action="CambiarContrasena" method="post">
                            <div class="text-danger"></div>
                            <input type="hidden" value="a" id="username" name="username"/>
                            <input type="hidden" value="a" id="password" name="password"/>
                            <input style="max-width:30%;" type="submit" value="OK" class="btn btn-primary btn-lg btn-block" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {

                $('#btnModal').click(function () {

                    if (document.getElementById('psw').value != document.getElementById('psw2').value) {

                        $('#modal-container').modal('show');
                        document.getElementById("txt").innerHTML = "Las contraseñas no coinciden, intentelo nuevamente.";
                        document.getElementById("olvidarContrasena").style.visibility = "visible";
                    } else {

                        $('#modal-container').modal('show');
                        document.getElementById("txt").innerHTML = "Contraseña actualizada correctamente.";
                        document.getElementById("cambiarContrasena").style.visibility = "visible";
                        document.getElementById("username").value = document.getElementById('uname').value;
                        document.getElementById("password").value = document.getElementById('psw').value;
                    }
                });
            });
        </script>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
