@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header>
    <nav style="background-color: rgb(17, 45, 85);">
        <div class="row div-registro" style="width:1920px; height:164px;">
            @if (User.Identity.Name == "Usuario")
            {
                <a class="nav-link text-dark" asp-area="" asp-controller="MenuPrincipal" asp-action="MostrarMenuPrincipalUsuario"><img src="~/images/header-image.jpg" alt="Página principal" width="972" height="154"></a>
            }
            else
            {
                <a class="nav-link text-dark" asp-area="" asp-controller="MenuPrincipal" asp-action="MostrarMenuPrincipal"><img src="~/images/header-image.jpg" alt="Página principal" width="972" height="154"></a>
            }
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @if (User.Identity.IsAuthenticated)
            {
                <a  style="color: white;"><h2>@User.Identity.Name</h2></a>
            }
            else
            {
                <a id="inicio" asp-area="" asp-controller="Inicio_de_sesion" asp-action="Inicio_de_sesion" style="color: white;"><h2>Iniciar sesión</h2></a>
            }
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a asp-area="" asp-controller="Inicio_de_sesion" asp-action="Cerrar_sesion" style="color: white; "><h2>Salir</h2></a>
        </div>
    </nav>
</header>