<link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">

    <br><br>
    <div class="justify-content-md-center">
        <div class="row">
            <div class="circle-blue">
                <div class="circle-white">
                    <br><br><br><br>
                    <h5>Fabrizio</h5>
                    <h5>Alvarado</h5>
                    <h5>Barquero</h5>
                    <h5>faoalv8@gmail.com</h5>
                </div>
            </div>
            <div class="circle-blue">
                <div class="circle-white">
                    <br><br><br><br>
                    <h5>Emanuelle</h5>
                    <h5>Jiménez</h5>
                    <h5>Sancho</h5>
                    <h5>emanuellejs1999@gmail.com</h5>
                </div>
            </div>
            <div class="circle-blue">
                <div class="circle-white">
                    <br><br><br><br>
                    <h5>Kevin</h5>
                    <h5>Ledezma</h5>
                    <h5>Jiménez</h5>
                    <h5>kledezma204@gmail.com</h5>
                </div>
            </div>
        </div>
        <br><br>
        <div class="blue-div">
            <div class="white-div">
                <br><br><br>
                <h5>Estudiantes del Intituto Tecnológico de Costa Rica</h5>
                <br>
                <h5>Proyecto de Software</h5>
                <br>
                <h5>II Semestre 2020</h5>
                <br>
            </div>
        </div>
    </div>
</div>
