@{
    ViewData["Title"] = "Modificar Usuario";
}
<head>
    <h1 style="text-align: center" ;>@ViewData["Title"]</h1>

    @model Registro_y_control_de_extintores.Models.CentrosTrabajoModelo;

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<!--vinculo al css de este View-->
<link href="~/css/CrearUsuario.css" rel="stylesheet" type="text/css">

<div class="wrapper fadeInDown" style="margin: auto; width: 70%; border: 6px solid blue; padding: 50px;">

    <div class="form">
        <form asp-action="ModificarUsuarioExistente" asp-controller="MenuUsuarioController" method="get">
            <div class="columns">
                <p>
                    <label for="">Cédula del usuario a modificar</label>
                    <input type="text" id="CedulaUsuario" name="CedulaUsuario">
                </p>
                <p>
                    <label for="">Nueva Contraseña para el usuario</label>
                    <input type="text" id="NuevaClave" name="NuevaClave">
                </p>
                <p>
                    <label for="">Nuevo Centro de Trabajo a Registrar</label>

                    <select id="NuevoCentroTrabajo" name="NuevoCentroTrabajo">
                        @foreach (var item in ViewBag.ListaCentros)
                        {
                            <option value="@item.id">@item.nombre</option>
                        }
                    </select>
                </p>
                <p>
                    <input type="submit" value="Modificar Usuario" formaction="@Url.Action("ModificarUsuarioExistente","MenuUsuario")" formmethod="get" class="btn btn-primary btn-lg btn-block" />
                </p>
            </div>
        </form>
    </div>
</div>

