.div-registro {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-div {
    background-color: rgb(17, 45, 85);
    width: 1000px;
    height: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-div {
    background-color: rgb(255, 255, 255);
    width: 980px;
    height: 280px;
    margin: auto;
}

.text-align { 
    vertical-align: middle;
    line-height: normal;
}

.blue-div-soporte {
    background-color: rgb(17, 45, 85);
    width: 500px;
    height: 600px;
    text-align: center;
    margin: auto;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-div-soporte {
    background-color: rgb(255, 255, 255);
    width: 480px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    margin: auto; 
    display:grid;
    place-items:center;
}
 

.circle-blue {
    width: 350px;
    height: 350px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 200px;
    background-color: rgb(17, 45, 85);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-white {
    width: 330px;
    height: 330px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 200px;
    background-color: rgb(255,255,255);
}